{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main class="main pt-4">
        <div class="container">
            <div class="page-banner">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-md-6">
                        <h1 class="text-center">Xorijiy OTM lar</h1>
                        <p class="text-center mt-2">Siz bizning saytimiz orqali O'zbekistondago barcha xorijiy OTM lar
                            haqida malumot olasiz...
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    {#  card  #}

                    {% for univer in cats %}
                        <article class="card mb-4">
                            <header class="card-header">
                                <a href="{% url 'detail' univer.slug %}">
                                    <h4 class="card-title">{{ univer.universitet }}</h4>
                                </a>
                                <div class="entry-meta">
                                    <ul class="d-flex">
                                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                                href="{% url 'detail' univer.slug %}">{{ univer.author }}</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                                                href="{% url 'detail' univer.slug %}">{{ univer.created|date:'M d, 20y' }}
                                            oldin</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                                                href="{% url 'detail' univer.slug %}">{{ univer.comments.all.count }} ta
                                            comment</a></li>
                                    </ul>
                                </div>
                            </header>
                            <a href="{% url 'detail' univer.slug %}">
                                <img class="card-img" src="{{ univer.image.url }}" alt="No"/>
                            </a>
                            <div class="card-body">
                                <p class="card-text">{{ univer.about }}
                                </p>
                                <button class="btn btn-outline-info"><a href="{% url 'detail' univer.slug %}">Batafsil
                                    o'qish</a></button>

                            </div>
                        </article>

                    {% endfor %}
                    {#  end card  #}

                </div>
                <div class="col-md-3 ms-auto">
                    <aside class="sidebar">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Qisqacha</h4>
                                <p class="card-text">O'zingizga kerakli universitetni tanlang va ustiga bosish orqali
                                    to'liq
                                    malumot oling.
                                </p>
                            </div>
                        </div>
                        <!-- /.card -->
                    </aside>
                    <aside class="sidebar sidebar-sticky">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Kategoriyalar</h4>
                                {% for cat in categories %}
                                    <a class="btn btn-light btn-sm mb-1"
                                       href="{% url 'cat_list' cat.id cat.category %}">{{ cat.category }}</a>
                                {% endfor %}
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Teglar</h4>
                                {% for tag in tags %}
                                    <a class="btn btn-light btn-sm mb-1" href="{% url 'tag_list' tag.id tag.tag %}">{{ tag.tag }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.card -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Homiylar</h4>
                                {% for sponsor in sponsors %}
                                    <a href="{% url 'detail' sponsor.slug %}" class="d-inline-block">
                                        <img class="card-img" src="{{ sponsor.image.url }}" alt="No"/>
                                        <p class="card-text">{{ sponsor.universitet }}</p>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.card -->
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
