{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main class="main pt-4">

        <div class="container">

            <div class="row">
                <div class="col-md-9">

                    <article class="card mb-4">
                        <header class="card-header text-center">
                            <div class="entry-meta d-flex justify-content-center">
                                <ul class="entry-meta d-flex justify-content-center">
                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                            href="/">{{ univer.author }}</a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                                            href="/">{{ univer.created|date:'M d, 20y' }}</a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                                            href="/">{{ univer.comments.all.count }} ta izoh</a></li>
                                </ul>
                            </div>
                            <a href="detail_page.html">
                                <h1 class="card-title">{{ univer.university }}</h1>
                            </a>
                        </header>
                        <a href="detail_page.html">
                            <img class="card-img" src="{{ univer.image.url }}" alt="sd"/>
                        </a>

                        <div class="card-body">
                            <div class="entry-footer">
                                <i class="bi bi-folder"></i>
                                <ul class="cats">
                                    <li><a href="#">{{ univer.category }}</a></li>
                                </ul>

                                <i class="bi bi-tags"></i>
                                <ul class="tags">
                                    {% for tag in univer.tags.all %}
                                        <li><a href="#">{{ tag|capfirst }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <br>
                            <p>{{ univer.body|safe }}</p>

                            <hr/>
                            {% if univer.comments.all.count == 0 %}
                                <h3 class="text-body">Hali izohlar yoq. Birinchilardan bo'lib izoh qoldiring</h3>
                            {% else %}
                                <h3 class="text-body">{{ univer.comments.all.count }} ta izoh</h3>
                            {% endif %}
                            {% for comment in univer.comments.all %}
                                <div class="d-flex mb-3 p-3 bg-light">
                                    <div class="flex-grow-1 justify-content-lg-start">
                                        <h6 class="mt-1 mb-0 me-3">{{ comment.name }}</h6>
                                        <p class="mt-3 mb-2">{{ comment.comment }}</p>
                                        <time class="timeago text-muted">{{ comment.created|date:'d M, 20y | H:i' }}</time>
                                    </div>
                                </div>
                            {% endfor %}


                            <div class="mt-5">
                                <h5>Izoh qoldiring</h5>
                                <form method="post" action="{% url 'detail' univer.slug %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ comment_form.as_p }}
                                        </div>
                                    </div>
                                    <button class="btn btn-success mt-3" type="submit">Yuborish</button>

                                </form>

                            </div>

                        </div>
                    </article><!-- /.card -->

                </div>
                <div class="col-md-3 ms-auto">
                    <aside class="sidebar">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h3 class="card-title">Talablar</h3>
                                <p class="card-text">{{ univer.requirements|safe }}
                                <h3 class="card-title">Hujjatlar</h3>
                                <p class="card-text">{{ univer.hujjatlar|safe }}
                                </p>
                            </div>
                        </div>
                        <!-- /.card -->
                    </aside>
                    <aside class="sidebar sidebar-sticky">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Kategoriyalar</h4>
                                {% for cat in categories %}
                                    <a class="btn btn-light btn-sm mb-1"
                                       href="{% url 'cat_list' cat.id cat.category %}">{{ cat.category }}</a>
                                {% endfor %}
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Teglar</h4>
                                {% for tag in tags %}
                                    <a class="btn btn-light btn-sm mb-1" href="{% url 'tag_list' tag.id tag.tag %}">{{ tag.tag }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.card -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Homiylar</h4>
                                {% for sponsor in sponsors %}
                                    <a href="{% url 'detail' sponsor.slug %}" class="d-inline-block">
                                        <img class="card-img" src="{{ sponsor.image.url }}" alt="No"/>
                                        <p class="card-text">{{ sponsor.universitet }}</p>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.card -->
                    </aside>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
