{% load static %}
<div class="site-newsletter">
    <div class="container">
        <div class="text-center">
            <h3 class="h4 mb-2">Yangiliklardan xabardor bo'ling
            </h3>
            <p class="text-muted">Pochta xabarnomasiga a'zo bo'lish orqali barcha yangiliklardan xabardor bo'lib borasiz.</p>
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-7 col-lg-5 ms-auto me-auto">
                    <div class="input-group mb-3 mt-3">
                        <form action="{% url 'home' %}" method="post" class="d-flex">
                            {% csrf_token %}
                            {{ form }}
                            <span class="input-group-btn"><button class="btn btn-secondary w-auto"
                                                                  type="submit">A'zo bo'lish</button></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-instagram">
    <div class="action">
        <a class="btn btn-light" href="#">
            <i class="bi bi-instagram"></i> Instagram
        </a>
    </div>
    <div class="row g-0">
        <div class="col-sm-6">
            <div class="row g-0">
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="{% static "img/instagram/1.jpg" %}" alt=""/>
                    </a>
                </div>
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="{% static "img/instagram/2.jpg" %}" alt=""/>
                    </a>
                </div>
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="{% static "img/instagram/3.jpg" %}" alt=""/>
                    </a>
                </div>
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="{% static "img/instagram/4.jpg" %}" alt=""/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row g-0">
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="{% static "img/instagram/5.jpg" %}" alt=""/>
                    </a>
                </div>
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="{% static "img/instagram/6.jpg" %}" alt=""/>
                    </a>
                </div>
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="{% static "img/instagram/7.jpg" %}" alt=""/>
                    </a>
                </div>
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="{% static "img/instagram/8.jpg" %}" alt=""/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="site-footer bg-dark">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Sayt haqida batafsil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Qoidalar
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Fikr-Mulohaza
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Maslahat
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="page-contact.html">Aloqa
                </a>
            </li>
        </ul>
        <div class="copy">
            &copy; Malikov Abdusamad 2022
            <br/>
            Barcha huquqlar himoyalangan
        </div>
    </div>
</footer>