{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main class="main pt-4">
        <div class="container">
            <div class="page-banner">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-md-6">
                        <h1 class="text-center">Xorijiy OTM lar</h1>
                        <p class="text-center mt-2">Siz bizning saytimiz orqali O'zbekistondago barcha xorijiy OTM lar
                            haqida malumot olasiz...
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <article class="card mb-4">
                        <header class="card-header">
                            <a href="post-image.html">
                                <h4 class="card-title">How can we sing about love?
                                </h4>
                            </a>
                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                            href="/">Abdusamad</a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/">Feb
                                        13,
                                        2022</a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/">12
                                        Comments</a></li>
                                </ul>
                            </div>
                        </header>
                        <a href="post-image.html">
                            <img class="card-img" src="{% static "img/articles/8.jpg" %}" alt=""/>
                        </a>
                        <div class="card-body">
                            <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                                quam
                                semper libero, sit amet adipiscing sem neque sed ipsum.
                            </p>
                        </div>
                    </article>
                    <!-- /.card -->
                    <article class="card mb-4">
                        <header class="card-header">
                            <div class="card-meta">
                                <a href="#">
                                    <time class="timeago" datetime="2021-09-03 20:00">3 october 2021
                                    </time>
                                </a> in
                                <a href="page-category.html">Lifestyle
                                </a>
                            </div>
                            <a href="post-image.html">
                                <h4 class="card-title">Oh, I guess they have the blues
                                </h4>
                            </a>
                        </header>
                        <a href="post-image.html">
                            <img class="card-img" src="{% static "img/articles/8.jpg" %}" alt=""/>
                        </a>
                        <div class="card-body">
                            <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                                quam
                                semper libero, sit amet adipiscing sem neque sed ipsum.
                            </p>
                        </div>
                    </article>
                    <!-- /.card -->
                    <article class="card mb-4">
                        <header class="card-header">
                            <div class="card-meta">
                                <a href="#">
                                    <time class="timeago" datetime="2021-07-16 20:00">16 july 2021
                                    </time>
                                </a> in
                                <a href="page-category.html">Work
                                </a>
                            </div>
                            <a href="post-image.html">
                                <h4 class="card-title">How can we, how can we sing about ourselves?
                                </h4>
                            </a>
                        </header>
                        <a href="post-image.html">
                            <img class="card-img" src="{% static "img/articles/8.jpg" %}" alt=""/>
                        </a>
                        <div class="card-body">
                            <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                                quam
                                semper libero, sit amet adipiscing sem neque sed ipsum.
                            </p>
                        </div>
                    </article>
                    <!-- /.card -->
                    <article class="card mb-4">
                        <header class="card-header">
                            <div class="card-meta">
                                <a href="#">
                                    <time class="timeago" datetime="2021-09-15 20:00">15 october 2021
                                    </time>
                                </a> in
                                <a href="page-category.html">Lifestyle
                                </a>
                            </div>
                            <a href="post-image.html">
                                <h4 class="card-title">The king is made of paper
                                </h4>
                            </a>
                        </header>
                        <a href="post-image.html">
                            <img class="card-img" src="{% static "img/articles/8.jpg" %}" alt=""/>
                        </a>
                        <div class="card-body">
                            <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                                quam
                                semper libero, sit amet adipiscing sem neque sed ipsum.
                            </p>
                        </div>
                    </article>
                    <!-- /.card -->
                </div>
                <div class="col-md-3 ms-auto">
                    <aside class="sidebar">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">About
                                </h4>
                                <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
                                    sem
                                    quam
                                    <a href="#">semper libero
                                    </a>, sit amet adipiscing sem neque sed ipsum.
                                </p>
                            </div>
                        </div>
                        <!-- /.card -->
                    </aside>
                    <aside class="sidebar sidebar-sticky">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Tags
                                </h4>
                                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Journey
                                </a>
                                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Work
                                </a>
                                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Lifestype
                                </a>
                                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Photography
                                </a>
                                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Food & Drinks
                                </a>
                            </div>
                        </div>
                        <!-- /.card -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Popular stories
                                </h4>
                                <a href="post-image.html" class="d-inline-block">
                                    <h4 class="h6">The blind man
                                    </h4>
                                    <img class="card-img" src="{% static "img/articles/2.jpg" %}" alt=""/>
                                </a>
                                <time class="timeago" datetime="2021-09-03 20:00">3 october 2021
                                </time>
                                in Lifestyle
                                <a href="post-image.html" class="d-inline-block mt-3">
                                    <h4 class="h6">Crying on the news
                                    </h4>
                                    <img class="card-img" src="{% static "img/articles/2.jpg" %}" alt=""/>
                                </a>
                                <time class="timeago" datetime="2021-07-16 20:00">16 july 2021
                                </time>
                                in Work
                            </div>
                        </div>
                        <!-- /.card -->
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
