{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main class="main pt-4">
        <div class="container">
            <div class="page-banner">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-md-6">
                        <h1 class="text-center">Xorijiy OTM lar</h1>
                        <p class="text-center mt-2">Siz bizning saytimiz orqali O'zbekistondago barcha xorijiy OTM lar
                            haqida malumot olasiz...
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    {#  card  #}

                    {% for univer in univers %}
                        <article class="card mb-4">
                            <header class="card-header">
                                <a href="{% url 'detail' univer.slug %}">
                                    <h4 class="card-title">{{ univer.universitet }}</h4>
                                </a>
                                <div class="entry-meta">
                                    <ul class="d-flex">
                                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                                href="{% url 'detail' univer.slug %}">{{ univer.author }}</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                                                href="{% url 'detail' univer.slug %}">{{ univer.created|date:'M d, 20y' }}
                                            oldin</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                                                href="{% url 'detail' univer.slug %}">{{ univer.comments.all.count }} ta
                                            comment</a></li>
                                    </ul>
                                </div>
                            </header>
                            <a href="{% url 'detail' univer.slug %}">
                                <img class="card-img" src="{{ univer.image.url }}" alt="No"/>
                            </a>
                            <div class="card-body">
                                <p class="card-text">{{ univer.about }}
                                </p>
                                <button class="btn btn-outline-info"><a href="{% url 'detail' univer.slug %}">Batafsil
                                    o'qish</a></button>

                            </div>
                        </article>

                    {% endfor %}
                    {#  end card  #}
                    {# PAGINATOR #}
                    <nav aria-label="Page navigation example" >
                        <ul class="pagination d-flex justify-content-center">
                            <li class="page-item ">
                                {% if univers.has_previous %}
                                    <a class="page-link" href="?page={{ univers.previous_page_number }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% else %}
                                    <a class="page-link link-secondary pe-none" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% endif %}

                            </li>
                            <li class="page-item"><a class="page-link pe-none"
                                                     href="?page={{ univers.number }}">{{ univers.number }}</a>
                            </li>
                            <li class="page-item">
                                {% if univers.has_next %}
                                    <a class="page-link" href="?page={{ univers.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% else %}
                                    <a class="page-link link-secondary pe-none" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
                {% include 'sidebar.html' %}
            </div>
        </div>
    </main>
{% endblock %}
