<header>
    <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
        <div class="container">
            <button class="navbar-toggler order-2 order-md-1" type="button" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse" aria-controls="navbar-left navbar-right" aria-expanded="false"
                    aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse order-3 order-md-2" id="navbar-left">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Asosiy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'batafsil_malumot' %}">Batafsil</a>
                    </li>
{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"#}
{#                           aria-haspopup="true" aria-expanded="false">Universitetlar</a>#}
{#                        <div class="dropdown-menu" aria-labelledby="dropdown03">#}
{#                            {% for university in universities %}#}
{#                            <a class="dropdown-item" href="doc-alerts.html">{{ university.davlat }}</a>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </li>#}
                </ul>
            </div>
            <a class="navbar-brand mx-auto order-1 order-md-3" href="{% url 'home' %}">𝓶𝓪𝓺𝓼𝓪𝓭</a>
            <div class="collapse navbar-collapse order-4 order-md-4" id="navbar-right">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'aloqa' %}">Aloqa</a>
                    </li>
                </ul>
                <form class="form-inline" method="get" action="{% url 'home' %}">
                    <input class="search js-search form-control form-control-rounded me-sm-2" type="text" name="search" placeholder="Qidirish..">
                </form>
            </div>
        </div>
    </nav>
</header>
